{{- /*gotype: github.com/blazejsewera/blog/page/index.Props*/ -}}
<!doctype html>
<html lang="{{ .Header.Language }}">
<head>
    {{ template "Header" .Header }}
    <title>{{ .Header.Title }}</title>
</head>
<body>
{{ template "Listing" .Listing }}
</body>
</html>
