<div class="py-8">
    <div class="grid grid-cols-1 md:grid-cols-3 items-center mb-6">
        {{ if .Previous }}
            <a id="footer-previous-article"
               class="flex mx-auto md:mr-1 py-4 md:py-0 pl-4 order-2 md:order-1 text-neutral-600"
               href="{{ .Previous.URL }}">
                <div class="inline-block my-auto mr-2">
                    {{ template "ArrowLeftIcon" }}
                </div>
                {{ .Previous.Title }}
            </a>
        {{ else }}
            <div class="order-2 md:order-1"></div>
        {{ end }}
        <a class="mx-auto block order-3 md:order-2" href="{{ .Site.BlogURL }}" title="Blog home">
            <img src="/logo-black.svg" alt="Blog home" />
        </a>
        {{ if .Next }}
            <a id="footer-next-article"
               class="flex mx-auto md:ml-1 py-4 md:py-0 pr-4 order-1 md:order-3 text-neutral-600"
               href="{{ .Next.URL }}">
                {{ .Next.Title }}
                <div class="inline-block my-auto ml-2">
                    {{ template "ArrowRightIcon" }}
                </div>
            </a>
        {{ else }}
            <div class="order-1 md:order-3"></div>
        {{ end }}
    </div>
    <div class="flex">
        <div class="mx-auto mb-7 text-2xs md:text-xs">
            <div>
                {{ .License }} – {{ .Year }} – {{ .Author }}
            </div>
            {{ if .Source }}
                <div class="ml-1.5 mt-4 md:ml-2 md:mt-2">
                    <a href={{ .Source }} target="_blank">
                        Source for this page on Github
                        {{ template "ExternalLinkIcon" }}
                    </a>
                </div>
            {{ end }}
        </div>
    </div>
</div>
