{{- /*gotype: github.com/blazejsewera/blog/renderer/page/component/molecule.DraftProps*/ -}}
{{ define "DraftInfo" }}
	<div class="mx-16 mb-8 flex">
		<div class="my-auto leading-none">
            {{ template "DraftBadge" }}
		</div>
		<span class="text-orange-600 inline my-auto ml-4">{{ .Description }}</span>
	</div>
{{ end }}
