{{- /*gotype:github.com/blazejsewera/blog/page/post.Props*/ -}}
<!doctype html>
<html lang="{{ .Header.Language }}">
<head>
    {{ template "Header" .Header }}
    <title>{{ .Header.Title }}</title>
</head>
<body>
{{ template "Article" .Article }}
</body>
</html>
