{{- /*gotype: github.com/blazejsewera/blog/templates/index.Props*/ -}}
<!doctype html>
<html lang="{{ .Header.Language }}">
<head>
    {{ template "ArticleHeader" .Header }}
    <title>{{ .Header.Title }}</title>
</head>
<body>
<ul>
    {{ range .Posts }}
        <li>{{ . }}</li>
    {{ end }}
</ul>
</body>
</html>
