{{- /*gotype: github.com/blazejsewera/blog/page.IndexProps*/ -}}
{{ block "Index" . }}
    <!doctype html>
    <html lang="{{ .Header.Language }}">
    <head>
        {{ template "Header" .Header }}
        {{ template "Title.Style" .Title }}
        <title>{{ .Header.Title }}</title>
    </head>
    <body>
    {{ template "Title" .Title }}
    {{ template "Listing" .Listing }}
    {{ template "Footer" .Footer }}
    {{ template "Title.Script" .Title }}
    </body>
    </html>
{{ end }}
