{{- /*gotype:github.com/blazejsewera/blog/page.PostProps*/ -}}
{{ block "Post" . }}
    <!doctype html>
    <html lang="{{ .Header.Language }}">
    <head>
        {{ template "Header" .Header }}
        {{ template "Article.Style" .Article }}
        {{ template "Title.Style" .Title }}
        <title>{{ .Header.Title }}</title>
    </head>
    <body>
    {{ template "Title" .Title }}
    {{ template "Article" .Article }}
    {{ template "Title.Script" .Title }}
    </body>
    </html>
{{ end }}
