{{- /*gotype:github.com/blazejsewera/blog/page.PostProps*/ -}}
{{ block "Post" . }}
    <!doctype html>
    <html lang="{{ .Header.Language }}">
    <head>
        {{ template "Header" .Header }}
        {{ template "Article.Style" .Article }}
        {{ template "Menu.Style" .Menu }}
        {{ template "Menu.Script" .Menu }}
        <title>{{ .Header.Title }}</title>
    </head>
    <body>
    {{ template "Menu" .Menu }}
    {{ template "Article" .Article }}
    </body>
    </html>
{{ end }}
