---
import type { ArticleInfo } from '../components/article/articleInfo'
import { cx } from '../components/util/classes'
import { Card } from '../components/article/Card'
import { Metadata } from '../components/article/Metadata'
import {
  defaultAuthor,
  defaultLanguage,
  defaultLicense,
  siteName,
} from '../components/const/meta'
import BigTitle from '../components/section/BigTitle.astro'

export interface Props {
  title: string
  subtitle?: string
  description: string
  imgUrl: string
  imgDescription: string
  articles: ArticleInfo[]
}

const { title, subtitle, description, imgUrl, imgDescription, articles } =
  Astro.props
const generatedDate = new Date().toISOString()
---

<!DOCTYPE html>
<html lang={defaultLanguage}>
  <head>
    <meta name="generator" content={Astro.generator} />
    <Metadata
      {...{
        title,
        date: generatedDate,
        author: defaultAuthor,
        language: defaultLanguage,
        license: defaultLicense,
        abstract: description,
        imgUrl,
        imgDescription,
        siteName
      }}
    />
    <title>{title}</title>
  </head>
  <body>
    <BigTitle {...{title, subtitle, imgUrl}} />

    <div class={cx('flex', 'w-full')}>
      <ul
        class={cx(
          'w-full',
          'md:w-172',
          'xl:w-256',
          'mx-10',
          'md:mx-auto',
          'grid',
          'grid-cols-1',
          'md:grid-cols-2',
          'xl:grid-cols-3',
          'gap-10',
          'md:gap-5',
        )}
      >
        {
          articles.map(
            ({ title, date, url, draft, minImgUrl, imgDescription }) => (
              <li class={cx('w-full', 'flex')}>
                <div class={cx('mx-auto', 'w-full', 'md:w-80')}>
                  <Card
                    {...{ title, date, url, draft, minImgUrl, imgDescription }}
                  />
                </div>
              </li>
            ),
          )
        }
      </ul>
    </div>
  </body>
</html>
