---
import Article from '../components/article/Article.astro'
import type { Frontmatter } from '../components/article/articleInfo'
import { Metadata } from '../components/article/Metadata'
import {
  defaultAuthor,
  defaultLanguage,
  defaultLicense,
  siteName,
} from '../components/const/meta'
import Footer from '../components/section/Footer.astro'
import TitleSection from '../components/TitleSection.astro'

export interface Props {
  frontmatter: Frontmatter
}

const { frontmatter } = Astro.props

const {
  draft,
  draftDescription,
  title,
  date,
  abstract,
  imgUrl,
  imgDescription,
} = frontmatter
const author = frontmatter.author ?? defaultAuthor
const language = frontmatter.language ?? defaultLanguage
const license = frontmatter.license ?? defaultLicense
---

<!DOCTYPE html>
<html lang={defaultLanguage}>
  <head>
    <meta name="generator" content={Astro.generator} />
    <Metadata
      {...{
        title,
        date,
        author,
        language,
        license,
        abstract,
        imgUrl,
        imgDescription,
        siteName,
      }}
    />
    <title>{title} — blog.sewera.dev</title>
  </head>
  <body class="font-sans">
    <TitleSection {...{title, imgUrl}} />

    <Article {...{draft, draftDescription, abstract}}>
      <slot />
    </Article>

    <Footer />

    <style define:vars={{ imgUrl: `${imgUrl ? `url(${imgUrl})` : ''}` }}>
      div#screen-image {
        background-image: var(--imgUrl);
      }
    </style>

    <style>
      /* The defaults of the document */
      html {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        font-kerning: auto;
        color: hsl(0, 0%, 20%);
        background-color: hsl(0, 0%, 100%);
      }

      body {
        overflow-x: hidden;
        margin: 0;
        min-height: 100vh;
        max-width: 100%;
      }

      a {
        text-decoration: none;
        color: inherit;
        font-weight: 600;
      }
      a:hover {
        text-decoration: underline;
      }

      :focus {
        outline: none;
      }
      ::-moz-focus-inner {
        border: 0;
      }

      p {
        max-width: 25em;
      }
      .shorter-line {
        max-width: 20em;
      }
      .annotation-line {
        max-width: 12em;
      }

      strong {
        font-weight: 400;
        color: hsl(0, 0%, 7%);
      }

      /* Reusable classes */

      .two-column-grid {
        display: grid;
        grid-column-gap: 80px;
        grid-template-columns: calc(50% - 40px) calc(50% - 40px);
        grid-template-rows: auto auto;
        grid-template-areas:
          'column-left column-right'
          'column-left column-right';
        box-sizing: border-box;
        width: 100%;
      }
      .column-left {
        grid-area: column-left;
      }
      .column-right {
        grid-area: column-right;
      }

      .padding-big {
        padding: 120px;
      }
      .non-bullet-ul {
        list-style-type: none;
        padding-left: 0;
      }

      a.button {
        display: inline-block;
        min-width: 150px;
        padding: 0.6em 1.2em;
        background-color: hsl(181.8, 47.5%, 32.4%);
        color: white;
        text-decoration: none;
        margin-bottom: 5px;
        transition-property: background-color;
        transition-duration: 200ms;
      }
      a.button:hover {
        background-color: hsl(181.8, 47.5%, 52.4%);
      }

      /* alignment */
      .right-x-flex {
        margin-left: auto;
      }
      .center-x-flex {
        margin-left: auto;
        margin-right: auto;
      }
      .center-y-flex {
        margin-top: auto;
        margin-bottom: auto;
      }
      .center-x-y-flex {
        margin: auto;
      }

      /* fullscreen but scrollable */
      .fullscreen {
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
      }

      /* font properties */
      .weight-normal {
        font-weight: 400;
      }

      .font-small {
        font-size: 12px;
      }
      .font-normal {
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: 0.018em;
      }
      .font-big {
        font-size: 24px;
        line-height: 1.4;
      }
      .font-bigger {
        font-size: 36px;
      }
      .font-biggest {
        font-size: 48px;
      }
      .font-huge {
        font-size: 72px;
      }
      .font-display {
        font-size: 144px;
        margin: 0;
        padding: 20px;
        line-height: 0.9;
        letter-spacing: -0.05em;
        word-break: break-all;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        max-height: 3.2em;
      }

      .icon-wrapper > img {
        margin: auto 0 auto 0;
        height: 36px;
      }

      .cursor-pointer {
        cursor: pointer;
      }

      /* The middle portion: I write code and design things */

      div.text-image {
        width: 100%;
        height: calc(100% - 48px - 120px);
        position: relative;
        box-sizing: border-box;
        top: 0;
        left: 0;
        font-size: 72px;
      }

      /* The bottom portion: magpie logo */

      div.logo-image > img {
        height: 120px;
      }

      @media (min-width: 768px) and (max-width: 1280px) {
        html {
          font-size: 16px;
        }

        .padding-big {
          padding: 80px;
        }

        .two-column-grid {
          grid-column-gap: 50px;
          grid-template-columns: calc(50% - 25px) calc(50% - 25px);
        }

        .font-small {
          font-size: 12px;
        }
        .font-normal {
          font-size: 16px;
        }
        .font-big {
          font-size: 20px;
        }
        .font-bigger {
          font-size: 24px;
        }
        .font-biggest {
          font-size: 36px;
        }
        .font-huge {
          font-size: 48px;
        }
        .font-display {
          font-size: 96px;
        }

        .icon-wrapper > img {
          height: 24px;
        }

        div.text-image {
          font-size: 48px;
          height: calc(100% - 32px - 80px);
        }

        div.logo-image > img {
          height: 80px;
        }
      }

      /* Small size: usually smartphones */

      @media (max-width: 767px) {
        html {
          font-size: 16px;
        }

        .padding-big {
          padding: 40px;
        }

        .two-column-grid {
          grid-column-gap: 0;
          grid-template-columns: 50% 50%;
          grid-row-gap: 40px;
          grid-template-areas:
            'column-left column-left'
            'column-right column-right';
        }
        .two-column-grid.inverted-sm {
          grid-template-areas:
            'column-right column-right'
            'column-left column-left';
        }

        .font-small {
          font-size: 12px;
        }
        .font-normal {
          font-size: 16px;
        }
        .font-big {
          font-size: 18px;
        }
        .font-bigger {
          font-size: 20px;
        }
        .font-biggest {
          font-size: 24px;
        }
        .font-huge {
          font-size: 36px;
        }
        .font-display {
          font-size: 72px;
        }

        a.button {
          min-width: 80px;
        }

        .icon-wrapper > img {
          height: 24px;
        }

        div.text-image {
          font-size: 24px;
          height: calc(100% - 21px - 60px);
        }

        div.logo-image > img {
          height: 60px;
        }
      }
    </style>
  </body>
</html>
